::after,
::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

h1 {
    text-align: center;
    margin: 0 0 25px 0;
    color: #252B42;
    font-size: 40px;
    font-weight: 800;
    line-height: 57px;
    letter-spacing: 0.2;

}

h4 {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #737373;
    margin: 0 0 25px 0;
}


html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: black;
    font-family: Montserrat;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    background-image: url(../img/mainblock/cover.jpg);
    background-repeat: no-repeat;
    background-color: #FAFAFA;
}

._container {
    max-width: 1046px;
    margin: 0 auto;
}


.header-container {
    align-items: center;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.header.logo {
    padding: 10px 20px;
    color: #252B42;
    font-size: 24px;
    font-weight: 800;
}



.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list-item:not(:last-child) {
    margin: 0 20px 0 0;
}

.nav-link {
    color: #737373;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.first-page {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.first-page-text-button {
    display: flex;
    width: 45%;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.first-page-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;

}

.big-font {
    margin: 0 0 25px 0;
    color: #252B42;
    font-size: 58px;
    font-weight: 800;
    line-height: 80px;
    letter-spacing: 0.2;
}

.small-font {
    font-weight: 400;
    font-size: 20px;
    color: #737373;
    margin: 0 0 25px 0;
}

.small-font {}

.first-page-button-one {
    color: white;
    background-color: #FF7B47;
    width: 190px;
    height: 50px;
    border: none;
    border-radius: 30px;
}

.first-page-button-two {
    color: #0D5C63;
    background-color: rgba(0, 123, 255, 0);
    border: #0D5C63 2px solid;
    width: 140px;
    height: 50px;
    border-radius: 30px;
}

.first-page-blocks {
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
}

.first-page-block {
    margin: 10px 30px;
    padding: 25px 30px;
    background-color: white;
    color: black;
    height: 250px;
    width: 330px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;

}

.first-page-block>h4 {
    color: #252B42;
    font-size: 24px;
    font-weight: 800;
}

.first-page-block>p {
    color: #737373;
    font-size: 14px;
}


.experience-text-blocks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}

.experience-text {
    display: flex;
    margin: 0 auto;
    max-width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.experience-blocks {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

.experience-block {
    display: flex;
    margin: 10px 24px;
    padding: 10px 0px;
    background-color: white;
    height: 210px;
    width: 240px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.block-active {
    color: white;
    background-color: #0D5C63;
}

.block-active>h4,
.block-active>p {
    color: white;
}

.practice-txt-blocks {
    margin: 100px auto;
}



.practice-blocks-container {
    margin: 80px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: flex-end;
}

.practice-block-container {
    display: flex;
    max-width: 240px;
    height: 320px;
    flex-wrap: wrap;
    align-content: flex-end;
}

.practice-block {

    background-color: white;
    color: black;
    height: 340px;
    max-width: 230px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}

.header-text {
    padding: 35px 30px 10px 25px;
}

.who-we-are {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;

}

.who-we-are-video-section {
    width: 1046px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.who-we-are-video {
    width: 600px;
}

.who-we-are-section {

    display: flex;
    width: 335px;
    flex-direction: column;
    flex-wrap: wrap;
}

.who-we-are-section-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.who-we-are-section-text>h1 {
    text-align: left;
}

.who-we-are-section-text>h4 {
    text-align: left;
}

.who-we-are-section-blocks {
    display: flex;
    height: 200px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.who-we-are-section-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.who-we-are-section-block-text {
    width: 280px;
    margin: 0px 0px 0px 10px;
}

.who-we-are-section-block-text-one {
    font-weight: 700;
    margin: 2px 0px 24px;
}

.clients-subscribe {
    height: 340px;
    margin: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.clients {
    width: 1046px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: center;
}

.subscribe {
    width: 1046px;
    display: flex;
    color: white;
    height: 125px;
    background-color: #17213C;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.subscribe-input input {
    padding: 0px 0px 0px 25px;
    width: 425px;
    height: 60px;
    border-radius: 10px;
    position: relative;
}

.butn {
    border: none;
    position: relative;
    right: 115px;
    border-radius: 10px;
    height: 60px;
    width: 110px;
    background-color: #FF7B47;
    color: white;

}

.getin-section {}

.getin-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.getin-block-container {
    background-color: white;
    height: 330px;
    width: 330px;
}

.getin-block {
    height: 220px;
    display: flex;
    padding: 45px 35px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.getin-block-container-active {
    width: 330px;
    color: white;
    height: 400px;
    background-color: #17213C;

}

.getin-block-button {
    border-radius: 10px;
    height: 60px;
    width: 110px;
    background-color: white;
    color: #FF7B47;
    margin: #FF7B47 2px solid;
}

.getin-block-button-active {
    border-radius: 10px;
    height: 60px;
    width: 110px;
    background-color: none;
    color: white;
    margin: white 2px solid;
}

.active-btn {
    text-align: center;
    border: white 1px solid;
    color: white;
    border-radius: 10px;
    width: 160px;
    height: 45px;
    background-color: #17213C;
    align-content: center;
}

.getin-block button {
    border: #FF7B47 1px solid;
    color: #FF7B47;
    border-radius: 10px;
    width: 160px;
    height: 45px;
    background-color: white;
}


.upper-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10px 25px 10px;
}




.upper-footer-butn {
    border: none;
    border-radius: 10px;
    height: 60px;
    width: 110px;
    background-color: #FF7B47;
    color: white;
}

.middle-footer {
    background-color: #17213C;
}

.middle-footer-container a {
    color: white;

}
.middle-footer-container  {
    color: white;
    display: flex;
}

.lower-footer {
    padding: 35px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
}